@import 'colors';
body {
  // background: url("/Images/backgroud1.jpg");
  background: url("/Images/475229015.jpg");
  // background: url("/Images/hqdefault.jpg");
  // height: 100%; 
  // width: auto;

    /* Center and scale the image nicely */
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // animation: animatedBackground 40s linear infinite;

}

.navbar {
  border:2px solid #ccc;
  // background-color: green;
}

.panel {
  // border: 1px solid black;
  border:1px solid #ccc;
    border-bottom:2px solid #bbb;
    // border-top:1px solid #ddd;
    border: 1px solid black;
    border-radius:10px;
     box-shadow: 10px 10px 5px grey;

    // text-shadow: 2px 2px 5px $DimGray
    
  }

.alert {
   width:20%;    
}

.fa {
  color: red;
}

#picture > img {
  height : 20%;
  width : auto;
   padding:1em;
   -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
  border: 1px solid grey;
   box-shadow: 0 0 20px 10px grey;
}
 
.thumbnail {
  height: 100%;
  width: 100px;
  background: $DimGray;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  border: 1px solid black; 
}

#currMonth {
   position:absolute;
    top:60%;
    left:25%;
    // align-content: left: ; 
}

.lg {
  background-color: white;
  border: 1px solid black;
  color: black;
  text-shadow: 0px 0px 0px #000000;
}

table {
  width: 400px;
  // border-top: 1px solid #ccc;
  // border-left: 1px solid #ccc;
    border: 1px solid #42464b;
  border-collapse: collapse;
  margin-bottom:1em;
  
  
  th, td {
    // padding: 0.5em 1em;
    border-bottom: 1px solid #ccc;
    // border-right: 1px solid #ccc;
    // white-space: pre;
  }
  
  thead th,
  tbody td,
  tfoot {
    text-align: center;
  }
  
  // Custom Styles
  thead {
    color: white;
    background: #0cf;
    
    th {
      padding: 1em;
    }

  }
    .total {
      color: white;
      background-color: gray;
    }

  // td:last-child:hover {

.btnAn:hover {    
  background-color: beige;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
}

//   tr:nth-child(odd) {
//     background-color: #323C50;
// }

// /* Background-color of the even rows */
tr:nth-child(even) {
    background-color: lightgray;
}
// tr {
//   background-color: #2C3446;
// }
// td:first-child { color: #FB667A; }
  
  // &[data-comparing="active"] tbody th {
  //   border-bottom: none;
  //   font-size: 0.75em;
  //   color: #767676;#fbdb65#fbdb65
  //   padding-bottom: 0;
  // }

}


h3, label {
  color: #fbdb65;
  text-shadow: 2px 2px 4px black;
}

h3 {
  font-family: 'Pacifico', cursive;
}

.msgFont {
  font-family: 'Pacifico', cursive;
}

.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 12px;
  margin: 40px auto;
  opacity: 0.2;
  width: 90%;
}

.login {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;
}