<h3>Variable Expenses</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Set Amount</th>
    <th>Spend Amount</th>
    <th>Month</th>
    <th>Date</th>
    <th>Monitor Id</th>
    <th></th>
    
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in items">
    <td>{{item.title}}</td>
    <td>{{item.setAmount}}</td>
    <td>{{item.spendAmount}}</td>
    <td>{{item.month}}</td>
    <td>{{item.date | date : "MM/dd/y"}}</td>
    <td>{{item.monitorId}}</td>
    <td>
    <button class="pull-right"><a ng-href="#!/varyExpenses/edit/{{item.id}}">Edit</a><i class="fa fa-pencil" aria-hidden="true"></i></button>
       <button class="pull-right" ng-click="deleteItem(item.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </td>
  </tr>
  </tbody>
</table>


