<h3>Incomes</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Income TYpe</th>
    <th>Amount</th>
    <th>Date</th>
    <th></th>

  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="item in items">
    <td>{{item.title}}</td>
    <td>{{item.amount}}</td>
    <td>{{item.date | date : "MM/dd/y"}}</td>
    <td>
       <button class="pull-right btnAn"><a ng-href="#!/income/edit/{{item.id}}">Edit</a><i class="fa fa-pencil" aria-hidden="true"></i></button>

       <button class="pull-right btnAn" ng-click="deleteItem(item.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </td>
  </tr>
  </tbody>

  <tfoot class="total">
    <tr>
      <td>Total</td>
      <td>{{sumAmount}}</td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>

</table>

