
 <div class="col-md-1" id="picture">
      <img src="/Images/DaveRamseyWithMoney.jpg">
      <!-- <h4>{{date | date : "MM/dd/y"}}</h4> -->
</div>



<div class="row">
  <div class="col-xs-2">
    <div class="thumbnail">
     <canvas id="linearCanvas-id1"></canvas>
     <h4>{{title1}}</h4>
     <p>Set: ${{setAmount1}}</p> 
     <p>Current: ${{currAmount1}}</p> 
      <!-- <img ng-src="{{imageUrl1}}"> -->

      <a href="{{imageUrl1}}" target="_blank">
        <img class="img-responsive" ng-src="{{imageUrl1}}" alt="{{title1}}">
      </a>

   </div>
 </div>

  <div class="col-md-2">
    <div class="thumbnail">
     <canvas id="linearCanvas-id2"></canvas>
     <h4>{{title2}}</h4>
     <p>Set: ${{setAmount2}}</p> 
     <p>Current: ${{currAmount2}}</p> 
     <a href="{{imageUrl2}}" target="_blank">
        <img class="img-responsive" ng-src="{{imageUrl2}}" alt="{{title2}}">
     </a>
    </div>
  </div>

  <div class="col-md-2">
    <div class="thumbnail">
     <canvas id="linearCanvas-id3"></canvas>
     <h4>{{title3}}</h4>
     <p>Set: ${{setAmount3}}</p> 
     <p>Current: ${{currAmount3}}</p> 
     <a href="{{imageUrl3}}" target="_blank">
        <img class="img-responsive" ng-src="{{imageUrl3}}" alt="{{title3}}">
     </a>
    </div>
  </div>
 
<!-- <canvas id="pie" class="chart chart-pie"
  chart-data="data" chart-labels="labels" chart-options="options">
</canvas>  -->

  <div class="col-md-2">
    <div class="thumbnail">
      <canvas id="linearCanvas-id4"></canvas>
      <h4>{{title4}}</h4>
      <p>Set: ${{setAmount4}}</p> 
      <p>Current: ${{currAmount4}}</p> 
      <a href="{{imageUrl4}}" target="_blank">
        <img class="img-responsive" ng-src="{{imageUrl4}}" alt="{{title4}}">
      </a>
    </div>
  </div>

  <div class="col-md-2">
    <div class="thumbnail">
      <canvas id="linearCanvas-id5"></canvas>
      <h4>{{title5}}</h4>
      <p>Set: ${{setAmount5}}</p> 
      <p>Current: ${{currAmount5}}</p> 
      <a href="{{imageUrl5}}" target="_blank">
        <img class="img-responsive" ng-src="{{imageUrl5}}" alt="{{title5}}">
      </a>
    </div>
  </div>

  <!-- <div class="col-md-1" id="picture">
      <img src="/Images/DaveRamseyWithMoney.jpg">
  </div> -->

 <!--  <div class="col-md-1" id="picture">
      <img src="/Images/DaveRamseyWithMoney.jpg">
      <h4>{{date | date : "MM/dd/y"}}</h4>
</div> -->
  

</div>

<!-- Main monitor    -->
<div class="row-fluid text-center">
	<div class="col-sm-2">
	 <div class="panel panel-default text-center">
		<div class="js-gauge js-gauge--1 gauge"></div>
    <h4>Fixed Expenses </h4> 
    <p>% of Income</p>
		<p>Total: ${{totFixExpenses}}</p> 
	</div>
	</div>

  <div class="col-sm-2">
   <div class="panel panel-default">
    <div class="js-gauge js-gauge--2 gauge"></div>
    <h4>Variable Expenses </h4> 
     <p>% of Income</p>
    <p>Total <br>
     Set: ${{totVaryExpenses.setAmount}} <br>
     Spend: ${{totVaryExpenses.spendAmount}}</p> 
  </div>
  </div>

	<div class="col-sm-4">
	 <div class="panel panel-default">
		<canvas id="canvas-id"></canvas>
    <div id="currMonth">
        <big>Current Month: {{month}}</big>
        <input type="text" class="label label-info" ng-model="month"/>
    <h4>Incomes: ${{totIncomes}} <br>
    Available Funds: ${{avalFund}}</h4>
    </div>   
  </div>
	</div>

	<div class="col-sm-2">
	 <div class="panel panel-default">
		<div class="js-gauge js-gauge--3 gauge"></div>
    <h4>Saving For</h4> 
     <p>% of Goal</p>
		<p>Total <br>
     Goal: ${{totSavingFor.goal}} <br>
     Saved: ${{totSavingFor.saveAmount}} </p> 
	</div>		
	</div>

  <div class="col-sm-2">
   <div class="panel panel-default">
    <img src="./Images/money-coin-deposit-of-save-money.jpg" alt="..." width="80%" height="100%">
    <h3>Surplus</h3> 
    <h5>${{totSaving}}</h5> 
  </div>    
  </div>
</div>
