<nav class="navbar navbar-default" ng-controller="NavCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">My Monthly Budget for - <strong>{{monthName}} / {{year}}</strong></a> -->
      <strong style="color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px lightgray, 0 0 5px darkgray;"><big>My Monthly Budget For  </big> </strong>
      <select type= class="navbar-brand" ng-model="selectMonth" ng-options="month for month in monthName" ng-change="update()"> </select> 
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav navbar-right" ng-if="user.uid"> -->
      <ul class=" nav nav-pills navbar-right" ng-if="user.uid">
        <!-- <li><a ng-href="#!/start/new-expense">Add New Expense</a></li> -->
        <!-- <li><a ng-href="#!/start/new-saving-for">Add New Saving</a></li> -->
        <li role="presentation"><a ng-href="#!/start">Home</a></li>
        
        <li role="presentation"><a ng-href="#!/start/pie-chart">Pie Chart</a></li>

        <li uib-dropdown on-toggle="toggled(open)" >
          <a href id="simple-dropdown" uib-dropdown-toggle>Incomes <span class="caret"></span> </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li> <a ng-href="#!/start/list-incomes">List All Incomes</a> </li>
            <li><a ng-href="#!/income/new">Add New Income</a></li>
          </ul>
        </li> 

        <li uib-dropdown on-toggle="toggled(open)" >
          <a href id="simple-dropdown" uib-dropdown-toggle>Fixed Expenses <span class="caret"></span> </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li> <a ng-href="#!/start/list-fixExpenses">List Fixed Expenses</a> </li>
            <li><a ng-href="#!/fixExpense/new">Add New Fixed Expense</a></li>
          </ul>
        </li>

        <li uib-dropdown on-toggle="toggled(open)" >
          <a href id="simple-dropdown" uib-dropdown-toggle>Variable Expenses <span class="caret"></span> </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li> <a ng-href="#!/start/list-varyExpenses">List Variable Expenses</a> </li>
            <li><a ng-href="#!/new/vary-expense">Add New Variable Expense</a></li>
          </ul>
        </li>

        <li uib-dropdown on-toggle="toggled(open)">
          <a href id="simple-dropdown" uib-dropdown-toggle>Saving<span class="caret"></span> </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li> <a ng-href="#!/start/list-goalSaving">List Saving</a> </li>
            <li> <a ng-href="#!/goal-saving/new-saving-for">Add New Saving</a> </li>
          </ul>
        </li>   

        <li> <a ng-href="#!/start/updateSurplus">Surplus</a> </li>

        <li><a ng-href="#!/logout">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="!user.uid">
        <li><a ng-href="#!/auth">Authenticate</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>