<h3>{{heading}}</h3>
<div>
  <div class="form-group">
    <label>Expense Type</label>
    <input id="title" type="text" class="form-control col-10" placeholder="type of expense" ng-model="newTask.title" ng-required="required" />
  </div>


  <div class="form-group">
    <label>Set Amount</label>
    <input type="text" class="form-control" placeholder="amount limit" ng-model="newTask.setAmount" ng-required="required"/>
    <label>For month period</label>
    <input type="text" class="form-control" placeholder="month" ng-model="newTask.month" /><label>Monitor Id</label>
    <input type="text" class="form-control"  ng-model="newTask.monitorId" placeholder="optional monitor id" />
  </div>

  <p class="input-group">
    <input type="date" class="form-control" uib-datepicker-popup ng-model="newTask.date" is-open="isOpened2" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="isOpened2 = !isOpened2"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>

  </p>
 

  <button class="btn btn-default" ng-click="addNewVaryExpense()">Submit</button>
</div>